<nav class="level profile-info">
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Username:</p>
                <p class="title">{{username}}</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Number of Movies in our list</p>
                <p class="title">{{movies.length}}</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Follows</p>
            {{#each followee as |follow|}}
                <p class="title">{{username}}</p>
            {{/each}}
        </div>
    </div>
</nav>

<section class="profile-lists">
    <h3>Watch List</h3>
    <div class="movie-profile-list">
        <section class="movie-results">
            <div class="movie-thumbnail">
                {{#each movies as |wantToWatch|}}
                    <h2>{{movie_title}}</h2>
                    <img src="{{movie_poster}}" class="img-small-poster" alt="similar movies" />
                {{/each}}
            </div>
        </section>
    </div>
    <h3>Movies you watched</h3>
    <div class="movie-profile-list">
        <section class="movie-results">
            <div class="movie-thumbnail">
                {{#each movies as |wantToWatch|}}
                    <h2>{{movie_title}}</h2>
                    <img src="{{movie_poster}}" class="img-small-poster" alt="similar movies" />
                {{/each}}
            </div>
        </section>
    </div>
</section>

<div class="container">
    {{#each reviews as |review|}}
        {{> review-details}}
    {{/each}}
</div>

{{!-- <div class="container">
    <div class="notification is-light review-overflow">
        <div class="review-element">
            {{#each  as ||}}
                <h3><a>{{movieTitle}}</a></h3>
                <p>{{movieDes}}</p>
            {{/each}}
        </div>
    </div>
</div> --}}